*{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin: 0;
}

.header{
    height: 70px;
    background-color: #F0F4FA;
    border-bottom: 1px solid #909DBF;
}

.container{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.header .container img{
    width: 80px;
}

#img_logo_frase{
    width: 170px;
}

.header .container ul{
    height: 70px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding-right: 30px;
}

.header .container ul li{
    font-size: 17px;
}

.ul_navbar{
    width: 450px;
} 

.ul_cadastro{
    width: 200px;
}

.header .container ul img{
    width: 25px;
    margin-right: -25px;
}

/* -------------------contato */
.contato{
    background-image: url(assets/imgs/fundo.png);
    background-size: cover;
}

.contato .container{
    justify-content: space-between;
    align-items: center;
    height: 1000px;
}

.formulario{
    display: flex;
    flex-direction: column;
    height:80%;
    width: 450px;
    /* background-color: blue; */
}

.contato .container .formulario p{
    margin-top: 5px;
    font-size: 12px;
}

.mapa{
    height:80%;
    width: 550px;
}

.mapa a img{
    height: 100%;
    width: 100%;
    border-radius: 25px;
}

.mapa:hover{
    opacity: 80%;
    cursor: pointer;
}

.mensagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.campos{
    margin-bottom: 30px;
    background-color: rgba(10,23,55,0);
    border: none;
    border-bottom: 1px solid #000;
    width: 400px;
}

.campos::placeholder{
    color: black;
}

#campos_cidade_cep{
    display: flex;
    justify-content: space-around;
}

#campo_cidade{
    margin-bottom: 30px;
    background-color: rgba(10,23,55,0);
    border: none;
    border-bottom: 1px solid #000;
    width: 260px;
}

#campo_cidade::placeholder{
    color: black;
}

#campo_cep{
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: rgba(10,23,55,0);
    border: none;
    border-bottom: 1px solid #000;
    width: 120px;
}

#campo_cep::placeholder{
    color: black;
}

#campo_upload_arquivo{
    display: none;
}

.upload_arquivo{
    margin-top: 50px;
    width: 450px;
    height: 120px;
    border: 2px dashed #000;

}

.upload_arquivo label{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.upload_arquivo label img{
    width: 25px;
    margin-right: 15px;

}

.upload_arquivo label:hover{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2);
}

.termos_de_uso{
    margin-top: 30px;
    display: flex;
    font-size: 12px;
}

.termos_de_uso input{
    margin-right: 10px;
}

#button_enviar{
    margin-top: 30px;
    height: 60px;
    background-color: #0982FE;
    border-radius: 6px;
    color: #fff;
    border: none;
}

#button_enviar:hover{
    background-color: rgba(6, 57, 187, 0.2);
    cursor: pointer;
}

.telefone_email{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
}

.telefone_email div{
    display: flex;
    flex-direction: column;
}

.telefone_email img{
    width: 30px;
    height: 30px;
    margin-right: -90px;
}