#div_a{
    background-color: #FF0000;
    width: 500px;
    height: 500px;
}

#div_filha_a {
    background-color: #ffa500 ;
    width: 250px;
    height: 250px;
}

#p_filho_b {
    color: white;
    background-color: yellow;
    font-size: 40px; font-family: monospace;
    font-weight: bold;
}

#div_d{
    width: 50%;
    height: 5vh;
    background-color: #90EE90 ;
}

#div_filha_d {
    width: 75vw;
    height: 50%;
    background-color: #ADD8E6 ;

}